body {
    background:black;
    color:white;
    font-family: "Sour Gummy", sans-serif;
}

header {
    border-bottom: solid 2px rgb(0, 81, 255);
    padding: 2px;
    font-size: 30px;
}

.chamada{
    background: rgb(14,4,248);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right:5%;
}

h1{
    font-size: 38px;
}

p{
    font-size: 49px;
}

img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
  }

  .categoria-videos img {
    opacity:0.5
    
  }